defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp.log

account        default
host           smtp.gmail.com
port           587
tls_starttls   on
from           GMAIL_USER_PLACEHOLDER
user           GMAIL_USER_PLACEHOLDER
password       GMAIL_PASS_PLACEHOLDER

account default : default
